[Unit]
Description=Syncthing for %i
After=network-online.target
Wants=network-online.target

[Service]
User=%i
Group=%i
ExecStart=/usr/local/bin/syncthing serve --no-browser --no-restart --home=/var/lib/remote-docker/syncthing --gui-address=127.0.0.1:8384
Restart=on-failure
SuccessExitStatus=3 4

[Install]
WantedBy=multi-user.target
