<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>Remote Docker</string>
  <key>CFBundleExecutable</key>
  <string>remote-docker-desktop</string>
  <key>CFBundleIconFile</key>
  <string>remote-docker.icns</string>
  <key>CFBundleIdentifier</key>
  <string>io.github.dmitbd.remote-docker</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Remote Docker</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>__REMOTE_DOCKER_VERSION__</string>
  <key>CFBundleVersion</key>
  <string>__REMOTE_DOCKER_BUILD_VERSION__</string>
  <key>LSMinimumSystemVersion</key>
  <string>12.0</string>
  <key>NSBonjourServices</key>
  <array>
    <string>_remote-docker._tcp</string>
  </array>
  <key>NSLocalNetworkUsageDescription</key>
  <string>Remote Docker uses the local network to discover and connect to your paired Windows PC.</string>
</dict>
</plist>
